#Personal stuff
.classpath
.project
.prefs
project.properties
#Vim files
*.swp
#We don't need the build files
bin/*
#We don't care about the windows thumbnail cache
Thumbs.db
bin/classes/atl/phillython/MainActivity.class

*.class

bin/classes/atl/phillython/R$drawable.class

bin/classes/atl/phillython/R$dimen.class

bin/classes/atl/phillython/R$dimen.class

bin/classes/atl/phillython/R$id.class

*.class

*.class

*.class

bin/classes/atl/phillython/R$layout.class

bin/classes/atl/phillython/R$layout.class

bin/classes/atl/phillython/R$menu.class

bin/classes/atl/phillython/R$menu.class

*.class

bin/classes/atl/phillython/R$string.class

bin/classes/atl/phillython/R$style.class

bin/classes/atl/phillython/R$style.class

bin/classes/atl/phillython/R.class

bin/classes/atl/phillython/R.class

gen/atl/phillython/R.java

gen/atl/phillython/R.java

gen/com/google/android/gms/R.java

gen/com/google/android/gms/R.java
